#
# DQMask plugin preferences file
#
# Place this in file under ~/.ginga with the name "plugin_DQMask.cfg"

# Display long or short descriptions
dqstr = 'long'

# Color to mark a single pixel for inspection
pxdqcolor = 'red'

# Colors to mark all affected pixels
imdqcolors = ['blue', 'magenta', 'green']
